<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Abuela Sorda</h1>
  <h3>Di algo abuela:</h3>
   <form action='/asnwr' method="post">
      	<input type="text" name="abuela">
      	<input type="submit" value="Dilo!!">
    </form> 
</body>
</html>